
  <main role="main">

 

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-info">
    <div class="container">
      <h1 class="display-3">Projects</h1>
      <p>This is where I show my projects I have worked on</p>
    </div>
  </div>

  

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4">
        <h2><%= project.title %></h2>
        <p><%= project.description %></p>
        <p><%= link_to 'Show Details', project, class: "btn btn-success" %>
        <%= link_to 'Edit', edit_project_path(project), class: "btn btn-primary"%>
        <%= link_to 'Destroy', project, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>

    <hr>

  </div> <!-- /container -->

  <div class="New Project d-flex justify-content-center">
    <%= link_to 'New Project', new_project_path, class: "btn btn-primary btn-sm"%>
  </div>

</main>






<p id="notice"><%= notice %></p>



