
  <main role="main">

 

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-info">
    <div class="container">
      <h1 class="display-3">Projects</h1>
      <h2 class="display-4">Author: Canyon Abraham</h2>
      <p>My name is Canyon Abraham, and I am a junior at UCCS persuing a degree in computer science.</p>
      <p>Here are a few of the projects I have worked on through my years here in college.</p>
    </div>
  </div>

  

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3 text-truncate">
        <% @projects.each do |project| %>
        <h2><%= project.title %></h2>
        <%= project.description %>
      </div>
    </div>
    <br>
        <p><%= link_to 'Show Details', project, class: "btn btn-success" %>
        <%= link_to 'Edit', edit_project_path(project), class: "btn btn-primary"%>
        <%= link_to 'Destroy', project, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>

    <hr>

  </div> <!-- /container -->

  <div class="New Project d-flex justify-content-center">
    <%= link_to 'New Project', new_project_path, class: "btn btn-primary btn-sm"%>
  </div>
 
</main>






<p id="notice"><%= notice %></p>



